.form {
  margin: 0 auto;
  width: 385px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
}

.form__label {
  padding: 0;
  margin: 0;
  font-weight: 500;
}

.form__input {
  border-radius: 4px;
  display: block;
  width: 100%;
  border: 1px solid #838383;
  margin: 8px 0 16px;
  box-sizing: border-box;
  padding: 15px 20px;
  font-size: 20px;
  line-height: 30px;
}

input::-moz-placeholder {
  color: #838383;
}
input::-ms-input-placeholder {
  color: #838383;
}

input::placeholder {
  color: #838383;
}

.form__select {
  border-radius: 4px;
  display: block;
  width: 100%;
  border: 1px solid #838383;
  margin: 8px 0 16px;
  box-sizing: border-box;
  padding: 15px 20px;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  padding: 20px 0;
  width: 100%;
  box-sizing: border-box;
  display: block;
  border-radius: 4px;
  background-color: #1878dc;
  border: none;
  font-weight: 500;
  color: #fff;
  transition: background-color 0.3s;
}

.form__button:hover {
  background-color: #3f96f3;
}
