.header {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  flex-direction: column;
}

.header__logo {
  width: 480px;
  margin-bottom: 10px;
}

.header__title {
  margin: 0;
}

.header__title-span {
  display: block;
  text-align: center;
}
