@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/form.css);
@import url(../blocks/footer.css);

.temporary {
  background-color: black;
  width: 20vw;
  height: 10vh;
}

.content {
  grid-row: 2;
  grid-column: 2;
}
